# 初始化

In [3]:
import tushare as ts
import pandas as pd
import numpy as np
from flask import Flask,render_template
import string
from datetime import datetime
import os

In [4]:
token='e9b31113ccd628c7933a0af4e9c45f38aee75b5d9a4fb89fde3c460a'
ts.set_token(token)
pro = ts.pro_api()

# 输入格式说明

## ts_code

见文档：https://tushare.pro/document/2?doc_id=134

## start_time/end_time

*号表示可以不输入，


格式：YYYYMMDD


example:20230317

## frequency
见文档：https://tushare.pro/document/2?doc_id=109 中对freq的说明部分

## key
见文档：https://tushare.pro/document/2?doc_id=138 中对输出参数的说明

# Tushare使用

# fut_basic
获取某交易所期货合约列表数据


用于判断ts_code是否正确


文档见：https://tushare.pro/document/2?doc_id=135

In [5]:
#交易所代码 CFFEX-中金所 DCE-大商所 CZCE-郑商所 SHFE-上期所 INE-上海国际能源交易中心 GFEX-广州期货交易所
df1 = pro.fut_basic(exchange='GFEX', fut_type='1', fields='ts_code,symbol,name,list_date,delist_date')

In [6]:
df1.head()

      ts_code  symbol     name list_date delist_date
0  SI2402.GFE  SI2402  工业硅2402  20230215    20240214
1  SI2401.GFE  SI2401  工业硅2401  20230117    20240116
2  SI2403.GFE  SI2403  工业硅2403  20230315    20240314
3  SI2308.GFE  SI2308  工业硅2308  20221222    20230814
4  SI2309.GFE  SI2309  工业硅2309  20221222    20230914

# pro_bar()
用于获得期货数据


文档见：https://tushare.pro/document/2?doc_id=109

In [8]:
df2 = ts.pro_bar(ts_code='CU1811.SHF', asset = 'FT',freq = 'D',start_date='20180101', end_date='20181113')

In [9]:
df2.head()

,ts_code,trade_date,pre_close,pre_settle,open,high,low,close,settle,change1,change2,vol,amount,oi,oi_chg
0,CU1811.SHF,20181113,48900.0,49030.0,48910.0,49040.0,48700.0,49030.0,48830.0,0.0,-200.0,17270.0,421721.70,16110.0,-6830.0
1,CU1811.SHF,20181112,49270.0,49340.0,49130.0,49200.0,48860.0,48900.0,49030.0,-440.0,-310.0,27710.0,679447.85,22940.0,-7160.0
2,CU1811.SHF,20181109,49440.0,49500.0,49340.0,49530.0,49120.0,49270.0,49340.0,-230.0,-160.0,22530.0,555910.15,30100.0,-4700.0
3,CU1811.SHF,20181108,49470.0,49460.0,49600.0,49680.0,49350.0,49440.0,49500.0,-20.0,40.0,22290.0,551708.00,34800.0,-3530.0
4,CU1811.SHF,20181107,49670.0,49630.0,49640.0,49850.0,49260.0,49470.0,49460.0,-160.0,-170.0,26850.0,664040.10,38330.0,-4560.0